{% extends 'seller-header.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
	<head>
    </head>
	<body>
		<!-- BREADCRUMB -->
		<div id="breadcrumb" class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<div class="col-md-12">
						<h3 class="breadcrumb-header">Profile</h3>
						<ul class="breadcrumb-tree">
							<li><a href="#">Home</a></li>
							<li class="active">Profile</li>
						</ul>
					</div>
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /BREADCRUMB -->

		<!-- SECTION -->
		<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">

					<div class="col-md-12">
						<!-- Billing Details -->
						<div class="billing-details">
							<div class="section-title">
								<h3 class="title">User Profile</h3>
							</div>
							{% if msg %}
								<b style="color:blue;">{{msg}}</b>
							{% endif %}
							<form name="signup" method="post" action="{% url 'profile' %}" enctype="multipart/form-data">
								{% csrf_token %}
							<div class="form-group">
								<input class="input" type="text" name="fname" value="{{user.fname}}">
							</div>
							<div class="form-group">
								<input class="input" type="text"  value="{{user.lname}}" name="lname">
							</div>
							<div class="form-group">
								<input class="input" type="email" readonly value="{{user.email}}" name="email">
							</div>
							<div class="form-group">
								<input class="input" type="text" name="mobile"  value="{{user.mobile}}">
							</div>
							<div class="form-group">
								<input class="input" type="text" name="address"  value="{{user.address}}">
							</div>
							<div class="form-group">
								<input class="input" type="text" name="city" value="{{user.city}}">
							</div>
							
							<div class="form-group">
								<input class="input" type="text" name="zipcode" value="{{user.zipcode}}">
							</div>
							<div class="form-group">
								<img src="{{user.profile_pic.url}}" width="100px" height="100px">
							</div>
							<div class="form-group">
								<input class="input" type="file" name="profile_pic">
							</div>
							<div class="form-group">
								<input class="btn btn-primary" type="submit" value="Update Profile">
							</div>
							</form>
						</div>
						<!-- /Billing Details -->

						

						
					</div>

					
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /SECTION -->

		

	</body>
</html>
{% endblock %}